.home__bg {
    background-image: url(https://global-uploads.webflow.com/5e157548d6f7910beea4e2d6/62a07b53139aec4c1fd07771_discord-logo.png);
    height: 92vh;
    background-position: center;
    background-size: 950px;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: #36393f;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
    
}
.d-flex {
    color: #fff;
}